<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>665725879844-hh7vs0udvd5c1akujda4ehr2gbplg6ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665725879844-hh7vs0udvd5c1akujda4ehr2gbplg6ki</string>
	<key>API_KEY</key>
	<string>AIzaSyBIIggae0sDCKdP7I6Eg3lnZaER3TLgvNs</string>
	<key>GCM_SENDER_ID</key>
	<string>665725879844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thoughtjar.net.ThoughtJar</string>
	<key>PROJECT_ID</key>
	<string>thought-jar-1528147168244</string>
	<key>STORAGE_BUCKET</key>
	<string>thought-jar-1528147168244.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665725879844:ios:202c50a49bc71bd9</string>
	<key>DATABASE_URL</key>
	<string>https://thought-jar-1528147168244.firebaseio.com</string>
</dict>
</plist>